.login-cointainer{
    min-height: 100vh;
    padding:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9ec4,#d63384,#8e44ad);
}

.salon-title{
    font-size:38px;
    font-family:Georgia, serif;
    color:#d63384;
    font-weight:bold;
    letter-spacing:2px;
    text-shadow:2px 2px 8px rgba(214,51,132,.3);
    margin-bottom:8px;
}

.salon-subtitle{
    color:#555;
    font-size:17px;
    font-style:italic;
    margin-bottom:25px;
}

.login-box{
    width:100%;
    max-width:500px;
    margin: 30px auto;
    padding:40px;
    background:rgb(237, 163, 188);
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 40px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,.3);
    animation:fadeIn .8s ease;
    
}

.login-box label{
    font-weight: bold;
    font-size: 18px;
    color:#333;
}
.login-box h1{
    color: #d63384;
    font-size: 35px;
    font-weight: bolder;

}

.login-box h2{
    margin:10px;
    color:#8e44ad;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bolder;
}

.login-box input{
    width:100%;
     padding:14px;
    margin:12px 0;
    border-radius:12px;
    border:1px solid #ccc;
    font-size: 16px;
    outline:none;
    transition: .3s;
    padding-left: 90px;
}

.login-box button{
    width:100%;
    padding:12px;
    background:#d63384;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    height: 45px;
    font-size:18px;
}
.login-box input:focus{
    transform:scale(1.02);
    box-shadow: 0 0 10px #d63384;
}

.login-box input[type="submit"]{
    width:100%;
    padding:14px;
    background:linear-gradient(45deg,#d63384,#8e44ad);
    color:white;
    border:none;
    border-radius:12px;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

.login-box input[type="submit"]:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(214,51,132,.5);
}
@keyframes fadeIn{
    from{
        opacity:0;
        transform: translateY(30px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
/* Registration form */

.register-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ffd6a5,#f4a261);
    padding:30px;
}

.register-box{
    width:700px;
    max-width:90%;
    background:rgb(255, 255, 255,0.85);
    padding:70px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
    animation: fadeIn .8s ease;
    box-sizing: border-box;
}

.register-box form{
    width: 100%;
}

.register-box h1{
    color:#c76b00;
    font-size:36px;
    margin-bottom: 15px;
    white-space: nowrap;
}

.register-box h2{
    color:#8b4513;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    white-space: nowrap;
}

.register-box p{
    color:#666;
    margin-bottom:25px;
    font-size: 16px;
}
.register-box label{
    text-align:left;
    font-weight: bold;
    margin-top: 15px 0 8px;
    display: block;
}

.register-box input{
    width:100%;
    padding:13px  15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
    height:45px;
    box-sizing: border-box;
}

.register-box button{
    width:100%;
    padding:13px;
    background:#c76b00;
    color:white;
    border:none;
    border-radius:12px;
    font-size:18px;
    cursor:pointer;
    margin-top: 20px;
    transition: .3s;
}

.register-box button:hover{
    background:#8b4513;
}
/* 
.register-box a{
    color:#d63384;
    text-decoration:none;
    font-weight:bold;
} */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#aa768b,#d9b5ef,#aecef4);
    min-height:100vh;
}

/* Premium Navbar */
.navbar{
    width:100%;
    height:85px;
    display:flex;
    justify-content:space-between;
    text-align: center;
    padding:0 50px;
    background:linear-gradient(90deg,#4a2e39,#a64dff);
    box-shadow:0 8px 25px rgba(0,0,0,0.18);
    position:sticky;
    top:0;
    z-index:1000;
}


/* Logo */
.logo{
    color:rgb(163, 55, 91);
    font-size:30px;
    font-weight:700;
    display:flex;
    align-items:center;
    gap:10px;
}

.logo span{
    letter-spacing:1px;

}

/* Menu */
.nav-links{
    display:flex;
    list-style:none;
    gap:18px;
}

.nav-links li a{
    color:#792222;
    text-decoration:none;
    padding:12px 20px;
    border-radius:30px;
    font-size:16px;
    font-weight:500;
    transition:0.3s ease;
}

.nav-links li a:hover{
    background:#fff;
    color:#5f0532;
    transform:translateY(-3px);
}

/* Active Page */
.nav-links li:first-child a{
    background:#fff;
    color:#980a51;
}

/* Logout Button */
.logout-btn{
    text-decoration:none;
    background:#fff;
    color:#d63384;
    padding:12px 24px;
    border-radius:30px;
    font-weight:600;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.logout-btn:hover{
    background:#ffe6f2;
    transform:scale(1.05);
}

/* Dashboard Heading */
.dashboard{
    width:90%;
    margin:40px auto;
}

.dashboard h1{
    font-size:42px;
    color:#d63384;
    margin-bottom:10px;
}

.dashboard p{
    color:#686666;
    font-size:18px;
}
body{
    font-family:'Poppins',sans-serif;
    background:#424142;
}

.hero{
    height:60vh;
    background:url("https://images.unsplash.com/photo-1560066984-138dadb4c035") center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    background:rgba(0,0,0,.55);
    color:#fff;
    padding:50px;
    border-radius:20px;
    text-align:center;
}

.overlay h1{
    font-size:55px;
    font-weight:bold;
}

.overlay p{
    font-size:22px;
}

.stat-card{
    border:none;
    border-radius:20px;
    text-align:center;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card h3{
    color:#d63384;
    font-size:42px;
    font-weight:bold;
}

.stat-card p{
    font-size:20px;
    color:#a25f5f;
}
.action-btn{
    background: linear-gradient(135deg,#d63384,#ff66a3);
    color:rgb(47, 41, 41);
    padding:15px  10px;
    border-radius:15px;
    font-size:16px;
    font-weight:600;
    text-decoration:none;
    box-shadow:0 8px 20px rgba(214,51,132,.3);
    transition:.3s;
    min-height: 50px;
}

.action-btn:hover{
    background:linear-gradient(135deg,#c2185b,#e91e63);
    color:white;
    transform:translateY(-5px);
}
body{
    background:linear-gradient(135deg,#fb9fc4,#fff5f8);
    font-family:'Poppins',sans-serif;
}

.customer-card{
    max-width:900px;
    width:100%;
    margin:auto;
    background:#deb1b1;
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(214,51,132,.2);
}

.customer-card h2{
    color:#d63384;
    font-weight:bold;
}

.form-control{
    border-radius:12px;
    padding:12px;
    border:1px solid #ddd;
}

.form-control:focus{
    border-color:#d63384;
    box-shadow:0 0 10px rgba(214,51,132,.3);
}

.btn-save{
    width:100%;
    background:linear-gradient(135deg,#d63384,#ff66a3);
    color:white;
    border:none;
    border-radius:12px;
    padding:12px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn-save:hover{
    transform:translateY(-3px);
    background:linear-gradient(135deg,#c2185b,#e91e63);
}
body{
    background:linear-gradient(135deg,#fff0f5,#ffe4ec);
    font-family:'Poppins',sans-serif;
}

/* ---------- Service Page ---------- */

.service-card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}

.image-section img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.service-banner{
    position:relative;
    padding: 20px;
    text-align: center;
    color:#d63384;
    background: #fff;
}

.service-banner h2{
    font-size:28px;
    font-weight:bold;
    margin-bottom: 5px;
}

.service-banner p{
    font-size:16px;
    color:#de8e8e;
    font-weight: bold;
}

.service-card h2{
    color:#d63384;
    font-weight:bold;
}

.service-card label{
    font-weight:600;
    margin-bottom:5px;
}

.form-control,
.form-select{
    border-radius:12px;
    border:2px solid #f3c4d6;
    padding:12px;
}

.form-control:focus,
.form-select:focus{
    border-color:#d63384;
    box-shadow:0 0 10px rgba(214,51,132,0.3);
}

.btn-service{
    background:linear-gradient(45deg,#d63384,#ff69b4);
    color:#fff;
    border:none;
    border-radius:12px;
    padding:12px;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.btn-service:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(214,51,132,0.4);
}
/* ---------- Add Staff Page ---------- */

.service-card{
    background:#fff;
    border-radius:25px;
    padding:35px;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    max-width:700px;
    margin:auto;
}

.service-card h2{
    color:#d63384;
    font-weight:700;
}

.service-card label{
    font-weight:600;
    color:#444;
    margin-bottom:6px;
}
.form-select{
    border-radius:12px;
    padding:12px;
    border:2px solid #f3c4d6;
}

.form-select:focus{
    border-color:#d63384;
    box-shadow:0 0 10px rgba(214,51,132,0.3);
}

.btn-service{
    background:linear-gradient(45deg,#d63384,#ff69b4);
    color:white;
    border:none;
    border-radius:12px;
    padding:13px;
    font-size:18px;
    font-weight:bold;
}

.btn-service:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(214,51,132,0.4);
}
.customer-box{
    display:flex;
    background:white;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.customer-image{
    width:45%;
}

.customer-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.customer-form{
    width:55%;
    padding:40px;
}

.customer-form h2{
    color:#d63384;
    font-weight:bold;
}

.customer-form input,
.customer-form textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:12px;
    border:1px solid #ddd;
}

.customer-form button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:12px;
    background:#d63384;
    color:white;
    font-size:18px;
    font-weight:bold;
}
.appointment-box{
    display:flex;
    background:white;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.appointment-image{
    width:45%;
    min-height: 500px;
}

.appointment-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display: block;
}

.appointment-form{
    width:55%;
    padding:40px;
}

.appointment-form h2{
    color:#d63384;
    font-weight:bold;
}

.appointment-form input,
.appointment-form select{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border-radius:12px;
    border:1px solid #ddd;
}

.appointment-form button{
    width:100%;
    padding:13px;
    border:none;
    border-radius:12px;
    background:linear-gradient(45deg,#d63384,#ff69b4);
    color:white;
    font-size:18px;
    font-weight:bold;
}

.message-box{
    width: 80%;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background: #ffe4f0;
    color: #d63384;
    border: 2px solid #d63384;
}




/* ================= PAYMENT PAGE ================= */

.payment-box{
    display:flex;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
    margin:30px auto;
}

.payment-image{
    width:45%;
}

.payment-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.payment-form{
    width:79%;
    padding:40px;
}

.payment-form h2{
    color:#d63384;
    font-size:32px;
    font-weight:bold;
    margin-bottom:10px;
}

.payment-form p{
    color:#777;
    margin-bottom:25px;
}

.payment-form label{
    font-weight:600;
    margin-bottom:6px;
    color:#444;
}

.payment-form .form-control,
.payment-form .form-select{
    border-radius:12px;
    border:2px solid #f3c4d6;
    padding:12px;
    margin-bottom:15px;
}

.payment-form .form-control:focus,
.payment-form .form-select:focus{
    border-color:#d63384;
    box-shadow:0 0 10px rgba(214,51,132,0.3);
}

.payment-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:12px;
    background:linear-gradient(45deg,#d63384,#ff69b4);
    color:#fff;
    font-size:18px;
    font-weight:bold;
    transition:0.3s;
}

.payment-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(214,51,132,0.4);
}
 .home-btn{
    display: inline-block;
    width: 250px;
    padding: 12px;
    margin:10px;
    text-align: center;
    background-color: #d63384;
    color:white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
}
               /*---------  Customer book appointment -----------*/

/* .booking-box{
    width:450px;
    margin:40px auto;
    background:#ffffff;
    padding:30px;
    border-radius:20px;
    box-shadow:0 8px 25px rgba(0,0,0,0.2);
}

.booking-box h1{
    text-align:center;
    color:#d63384;
    margin-bottom:5px;
}

.booking-box p{
    text-align:center;
    color:gray;
    margin-bottom:20px;
}

.booking-box label{
    font-weight:bold;
    margin-top:10px;
    display:block;
}

.form-control{
    width:100%;
    padding:12px;
    margin-top:6px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:16px;
}

.form-control:focus{
    border:2px solid #d63384;
    outline:none;
}

.book-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#5d5559;
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;

}

.book-btn:hover{
    background:#938c90;
}

.home-btn{
    display:block;
    text-align:center;
    text-decoration:none;
    background:#6c757d;
    color:white;
    padding:12px;
    border-radius:10px;
    transition: all 0.4s ease;
    box-shadow: 0 8px 20px rgba(214,51,132,.5);
    backdrop-filter:blur(10px);
    border: 1px solid  rgba(255,255,255,.4)
}

.home-btn:hover{
    background:#495057;
}

.success{
    color:green;
    font-weight:bold;
    text-align:center;
    
} */

/* Book Appointment */

.booking-page{
    min-height:100vh;
    background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
    url("https://images.unsplash.com/photo-1560066984-138dadb4c035?auto=format&fit=crop&w=1600&q=80");
    justify-content: center;
    background-position:center;
    align-items: center;
    display:flex;

}

html,body{
    margin: 0;
    padding: 0%;
    width: 100%;
    overflow-x: hidden;
}


.booking-box{
    max-width:700px;
    background:rgba(130, 129, 129, 0.95);
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
    backdrop-filter: blur(6px);
}

.booking-box h1{
    text-align:center;
    color:#a55f76;
    font-size:48px;
    font-weight:bold;
    margin-bottom:10px;
    font-family: cursive;
}
h1{
    text-decoration: underline;
    text-decoration-color:#a55f76 ;
    text-decoration-thickness: 3px;
}

.booking-box p{
    text-align:center;
    color:grey;
    margin-bottom:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
}

.booking-box label{
    font-size:17px;
    font-weight:bold;
    color:#444;
    margin-bottom:8px;
    display:block;
}

.booking-box .form-control{
    
    padding:12px;
    border-radius:12px;
    border:1px solid #ccc;
    margin-bottom:20px;
    font-size:16px;
    transition:.3s;
    height: 50px;
}

.booking-box .form-control:focus{
    border-color:#d63384;
    box-shadow:0 0 10px rgba(214,51,132,.3);
    outline:none;
    background-color: rgb(150, 150, 149);
}

.btn-primary{
    background:linear-gradient(45deg,#777476,#d3a9b7);
    border:none;
    border-radius:12px;
    padding:12px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn-primary:hover{
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(214,51,132,.4);
    background: #c2185b;
}

.btn-outline-dark{
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
    width: 100%;
}

.btn-outline-dark:hover{
    background:#222;
    color:white;
}

.alert-success{
    border-radius:12px;
    text-align:center;
    font-weight:bold;
}


body{
    background: #f5f5f5;
    margin: 0;
}


.hero-section{
    height:90vh;
    background-image: url("/static/images/salon.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background-repeat: no-repeat;
}
.hero-content{
    width: auto;
    padding: 40px;
    background: rgba(0,0,0,0.45);
    border-radius: 15px;
    color: white;
    max-width: 700px;
}
.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.button-group a{
    min-width: 230px;
}

.hero-content h1{
    color:white;
    font-size:30px;
    font-weight:bold;
}

.hero-content p{
    color:white;
    font-size:22px;
    margin-bottom:30px;
}

.btn-pink{
    background:#605b5c;
    color:white;
    margin:10px;
    padding:12px 30px;
    border-radius:30px;
}

.btn-pink:hover{
    background:#777575;
    color:white;
}

.services{
    background:linear-gradient(135deg,#ead5dd,#c3c0c1);
    padding:80px 30px;
    text-align:center;

}
.services h2{
    font-size: 40px;
    color: #342e2e;
    margin-bottom: 50px ;

}
.services p{
    color: #555;
    font-size: 18px;
    margin-bottom: 50px;
    font-family: cursive;
}
.service-box{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    width: 300px;
    padding:30px;
    border-radius: 20px;
    background: rgb(240, 192, 192);
    box-shadow: 0 12px 30px rgba(0,0,0,.15);
    transition: 0.4s;

}

.card:hover{
    transform:translateY(-10px);
    box-shadow: 0 20px 40px rgba(214,51,132,.35)
}
.card h3{
    color:#d63384;
    margin-bottom: 15px;

}
.card p{
    color:#666;
}

body{
    background:#f58ebf;
}

.edit-box{
    width:450px;
    margin:50px auto;
    background:#c0b6b6;
    padding:30px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.edit-box h2{
    text-align:center;
    color:#d63384;
    margin-bottom:20px;
    font-size: 40px;
    font-weight: bold;
}

.edit-form label{
    display:block;
    margin-top:15px;
    font-weight:bold;
}

.edit-form input{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-top:5px;
    margin-bottom:10px;
}

.update-btn{
    width:100%;
    padding:12px;
    background:#d63384;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
    margin-top:15px;
}

.update-btn:hover{
    background:#b82c70;
}