

.login-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#d63384,#8e44ad);
    
}

.login-box{
    width:700px;
    padding:35px;
    background:rgb(234, 216, 222);
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.login-box h1{
    color:#d63384;
    font-size: 35px;

}

.login-box h2{
    margin:10px;
    color:#8e44ad;
}

.login-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    border:1px solid #ccc;
    height:45px;
    font-size: 16px;
}

.login-box button{
    width:100%;
    padding:12px;
    background:#d63384;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
    height: 45px;
    font-size:18px;
}

.login-box button:hover{
    background:#8e44ad;
}
.register-page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#ff9acb,#c471ed);
}

.register-box{
    width:700px;
    background:rgb(227, 223, 223);
    padding:40px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.register-box h1{
    color:#d63384;
    margin-bottom:10px;
}

.register-box h2{
    color:#8e44ad;
    margin-bottom:15px;
    font-weight: bold;
}

.register-box p{
    color:#666;
    margin-bottom:20px;
}

.register-box input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:15px;
}

.register-box button{
    width:100%;
    padding:12px;
    background:#d63384;
    color:white;
    border:none;
    border-radius:10px;
    font-size:16px;
    cursor:pointer;
}

.register-box button:hover{
    background:#8e44ad;
}

.register-box a{
    color:#d63384;
    text-decoration:none;
    font-weight:bold;
}
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#aa768b,#d9b5ef,#aecef4);
    min-height:100vh;
}

/* Premium Navbar */
.navbar{
    width:100%;
    height:85px;
    display:flex;
    justify-content:space-between;
    text-align: center;
    padding:0 50px;
    background:linear-gradient(90deg,#4a2e39,#a64dff);
    box-shadow:0 8px 25px rgba(0,0,0,0.18);
    position:sticky;
    top:0;
    z-index:1000;
}


/* Logo */
.logo{
    color:rgb(163, 55, 91);
    font-size:30px;
    font-weight:700;
    display:flex;
    align-items:center;
    gap:10px;
}

.logo span{
    letter-spacing:1px;

}

/* Menu */
.nav-links{
    display:flex;
    list-style:none;
    gap:18px;
}

.nav-links li a{
    color:#792222;
    text-decoration:none;
    padding:12px 20px;
    border-radius:30px;
    font-size:16px;
    font-weight:500;
    transition:0.3s ease;
}

.nav-links li a:hover{
    background:#fff;
    color:#5f0532;
    transform:translateY(-3px);
}

/* Active Page */
.nav-links li:first-child a{
    background:#fff;
    color:#980a51;
}

/* Logout Button */
.logout-btn{
    text-decoration:none;
    background:#fff;
    color:#d63384;
    padding:12px 24px;
    border-radius:30px;
    font-weight:600;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.logout-btn:hover{
    background:#ffe6f2;
    transform:scale(1.05);
}

/* Dashboard Heading */
.dashboard{
    width:90%;
    margin:40px auto;
}

.dashboard h1{
    font-size:42px;
    color:#d63384;
    margin-bottom:10px;
}

.dashboard p{
    color:#666;
    font-size:18px;
}
body{
    font-family:'Poppins',sans-serif;
    background:#f8f5f7;
}

.hero{
    height:60vh;
    background:url("https://images.unsplash.com/photo-1560066984-138dadb4c035") center/cover;
    display:flex;
    align-items:center;
    justify-content:center;
}

.overlay{
    background:rgba(0,0,0,.55);
    color:#fff;
    padding:50px;
    border-radius:20px;
    text-align:center;
}

.overlay h1{
    font-size:55px;
    font-weight:bold;
}

.overlay p{
    font-size:22px;
}

.stat-card{
    border:none;
    border-radius:20px;
    text-align:center;
    padding:30px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card h3{
    color:#d63384;
    font-size:42px;
    font-weight:bold;
}

.stat-card p{
    font-size:20px;
    color:#d5cfcf;
}
.action-btn{
    background: linear-gradient(135deg,#d63384,#ff66a3);
    color:rgb(226, 186, 186);
    padding:18px;
    border-radius:15px;
    font-size:18px;
    font-weight:600;
    text-decoration:none;
    box-shadow:0 8px 20px rgba(214,51,132,.3);
    transition:.3s;
}

.action-btn:hover{
    background:linear-gradient(135deg,#c2185b,#e91e63);
    color:white;
    transform:translateY(-5px);
}
body{
    background:linear-gradient(135deg,#fb9fc4,#fff5f8);
    font-family:'Poppins',sans-serif;
}

.customer-card{
    max-width:900px;
    width:100%;
    margin:auto;
    background:#deb1b1;
    padding:35px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(214,51,132,.2);
}

.customer-card h2{
    color:#d63384;
    font-weight:bold;
}

.form-control{
    border-radius:12px;
    padding:12px;
    border:1px solid #ddd;
}

.form-control:focus{
    border-color:#d63384;
    box-shadow:0 0 10px rgba(214,51,132,.3);
}

.btn-save{
    width:100%;
    background:linear-gradient(135deg,#d63384,#ff66a3);
    color:white;
    border:none;
    border-radius:12px;
    padding:12px;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn-save:hover{
    transform:translateY(-3px);
    background:linear-gradient(135deg,#c2185b,#e91e63);
}
body{
    background:linear-gradient(135deg,#fff0f5,#ffe4ec);
    font-family:'Poppins',sans-serif;
}

.service-card{
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

.image-section img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.service-card h2{
    color:#d63384;
    font-weight:bold;
}

.form-control{
    border-radius:10px;
    margin-bottom:15px;
}

.btn-service{
    background:linear-gradient(135deg,#d63384,#ff66a3);
    color:white;
    border:none;
    border-radius:12px;
    padding:12px;
    font-size:18px;
    font-weight:bold;
}

.btn-service:hover{
    background:linear-gradient(135deg,#c2185b,#e91e63);
    color:white;
    transform:translateY(-3px);
    transition:.3s;
}