{% extends "base.html" %}

{% block content %}


<div class="container mt-5">

    <div class="appointment-box">

        <div class="appointment-image">
            <img src="https://images.unsplash.com/photo-1560066984-138dadb4c035?auto=format&fit=crop&w=900&q=80"
                 alt="Salon Appointment">
        </div>


        <div class="appointment-form">

            <h2>📅 Book Appointment</h2>
            <p>Schedule your salon visit easily</p>

            {% if message %}
            <div class="message-box">
                    {{ message }}
            </div>       
            {% endif %}

            <form action="/appointment" method="POST">

                <label>Customer Name</label>
                <input type="text" name="customer_name"
                placeholder="Enter Customer Name" required >


                <label>Service</label>
                <select name="service_name" required>
                    <option>Select Service</option>
                    <option> Hair Styling</option>
                   <option> Facials & Clean-ups</option>
                   <option> Threading</option>
                   <option> Waxing</option>
                   <option> Bleach</option>
                   <option> Manicure & Pedicure</option>
                   <option> Body polishing &Scrub</option>
                   <option> Bridal & Party Makeup</option>
                    <option> Nail Extension</option>
                    <option> Hair Coloring</option>
                    <option> Hair Treatments</option>

                  </select>


                <label>Date</label>
                <input type="date" name="appointment_date"  min="{{today}}" required>


                <label>Time</label>
                <input type="time" name="appointment_time" required>

             <label class="mt-3">Staff Name</label>
                 <select name="staff_name"  class="form-select"required>
                    <option value="">Select Staff</option>
                    {% for staff in staffs %}
                    <option value="{{ staff.name }}"> {{ staff.name }}
                        ({{ staff.specialization }})
                    </option>
    
                   {%  endfor  %}
                 </select>



                <button type="submit">
                    Confirm Booking
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}