{% extends "base.html" %}

{% block content %}


<div class="container mt-5">

    <div class="appointment-box">

        <div class="appointment-image">
            <img src="https://images.unsplash.com/photo-1560066984-138dadb4c035?auto=format&fit=crop&w=900&q=80"
                 alt="Salon Appointment">
        </div>


        <div class="appointment-form">

            <h2>📅 Book Appointment</h2>
            <p>Schedule your salon visit easily</p>

            <form action="/appointment" method="POST">

                <label>Customer Name</label>
                <input type="text" name="customer_name"
                placeholder="Enter Customer Name" required>


                <label>Service</label>
                <select name="service" required>
                    <option>Select Service</option>
                    <option>Hair Cut</option>
                    <option>Facial</option>
                    <option>Hair Spa</option>
                    <option>Makeup</option>
                </select>


                <label>Date</label>
                <input type="date" name="date" required>


                <label>Time</label>
                <input type="time" name="time" required>


                <button type="submit">
                    Confirm Booking
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}