<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"> -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
       
</head>


<body>


<div >
{% block content %}

{% endblock %}
</div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> -->


<script>
const service = document.getElementById("service");
const staff = document.getElementById("staff");

service.addEventListener("change", function () {

    let selectedService = this.value;

    for (let option of staff.options) {

        if (option.value === "") {
            option.hidden = false;
            continue;
        }

        if (option.dataset.specialization === selectedService) {
            option.hidden = false;
        } else {
            option.hidden = true;
        }
    }

    staff.value = "";
});
</script>

</body>
</html>
