{% extends "base.html" %}

{% block content %}
<nav class="logo">
    <span> Glow & Grace Salon  Management  System </span><br><br>

<ul class="nav-links">

    <li><a href="/customer">Add Customers</a></li><br>
    <li><a href="/service"> Add Services</a></li><br>
    <li><a href="/appointment"> Book Appointments</a></li><br>
    <li><a href="/staff">Add Staff</a></li><br>
    <li><a href="/Logout">Logout</a></li><br>
</ul>
</nav>

<br>
<h3>Total Customers: {{ customers }}</h3><br>

<h3>Total Services: {{ services }}</h3><br>

<h3>Total Appointments: {{ appointments }}</h3><br>

<br>


{% endblock %}