{% extends "base.html" %}

{% block content %}

<div class="edit-box">
    <h2>Edit Appointment</h2>

    <form method="POST"  class="edit-form">

        <label>Customer Name</label>
        <input type="text" name="customer_name" class="form-control"
               value="{{ appointment.customer_name }}" required>

        <label>Service</label>
        <input type="text" name="service_name" class="form-control"
               value="{{ appointment.service_name }}" required>

        <label>Staff</label>
        <input type="text" name="staff_name" class="form-control"
               value="{{ appointment.staff_name }}" required>

        <label>Date</label>
        <input type="date" name="appointment_date" class="form-control"
               value="{{ appointment.appointment_date }}" required>

        <label>Time</label>
        <input type="time" name="appointment_time" class="form-control"
               value="{{ appointment.appointment_time }}" required>

        <button type="submit" class="update-btn">Update Appointment</button>

    </form>
</div>

{% endblock %}