
{% extends "base.html" %}

{% block content %}

<div class="hero-section">

    <div class="hero-content">
        <h1>Glow & Grace Salon</h1>
        <p>Look Beautiful, Feel Confident ✨</p>

        <a href="/book_appointment" class="home-btn btn-dark btn-lg">📅 Book Appointment</a>

        <a href="/login" class=" home-btn btn-dark btn-lg">🔐 Admin Login</a>

        <a href="/register" class=" home-btn btn-outline-light btn-lg">📝 Register</a>
    </div>

</div>


     <section class="services">

     <h2 >Our Services</h2>
     <p> Experience luxury beauty treatments by our proffesional experts.</p>


         <div class="service-box">

             <div class="card">
          
                <h3>💇 Hair Styling</h3>
                <p>Professional haircut and hairstyling by experienced experts.</p>
           </div>
        

       
            <div class="card">
                <h3>💆 Facial</h3>
                <p>Glowing skin treatments with premium products.</p>
            </div>
        

        
            <div class="card">
                <h4>💅 Nail Care</h4>
                <p>Beautiful manicure and pedicure services.</p>
            </div>
        </div>
     </section>

{% endblock %}