{% extends "base.html" %}

{% block content %}


    <div class="login-box">
        <h1> WELCOME</h1><br>
        <h2>Glow & Grace Salon</h2><br>
        <p> Login to manage your beauty services</p>

    <form action="/login" method="POST">

        <label>Email</label><br>
        <input type="email" name="email"  value="@gmail.com" required><br><br>

        <label>Password</label><br>
        <input type="password" name="password" required><br><br>

        <input type="submit" value="Login">

    </form>

    <br>

    <a href="/register"> Create New Account</a>
</div>
{% endblock %}