{% extends "base.html" %}

{% block content %}

<div class="service-container">

    <div class="services-image">
        <img src="{{ url_for('static', filename='images/services.jpg') }}">
    </div>
<div class="service-banner text-center">
    <h2> Premium Salon Services</h2>

    <div class="service-form">

        <h2 class="text-center mb-4">💇 Add Service</h2>

        <form action="/service" method="POST">

            <label>Service Name</label>
            <input type="text" name="service_name" class="form-control" required><br>

            <label>Price</label>
            <input type="number" name="price" class="form-control" required><br>

            <label>Duration</label>
            <input type="text" name="duration" class="form-control" placeholder="30 Minutes" required><br>

            <button type="submit" class="btn btn-service w-100">
                Save Service
            </button>

        </form>

    </div>

</div>

{% endblock %}