{% extends "base.html" %}

{% block content %}


<h2>Add Service</h2>

<form action="/service" method="POST">

    <label>Service Name</label><br>
    <select name ="services">
        <option>Hair Cutting</option>
        <option> Hair Styling</option>
        <option> Facials & Clean-ups</option>
        <option> Threading</option>
        <option> Waxing</option>
        <option> Bleach</option>
        <option> Manicure & Pedicure</option>
        <option> Body polishing &Scrub</option>
        <option> Bridal & Party Makeup</option>
        <option> Nail Extension</option>
        <option> Hair Coloring</option>
        <option> Hair Treatments</option>

    </select> <br><br>

    <label>Price</label><br>
    <input type="number" name="price" required><br><br>

    <label>Duration</label><br>
    <input type="text" name="duration" placeholder="30 Minutes" required><br><br>

    <input type="submit" value="Add Service">

</form>
{% endblock %}