{% extends "base.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row service-card">
        <div class="col-md-6 image-section">

    <div class="service-banner text-center">
        <h2>✨ Premium Salon Services ✨</h2><br><br>
        <p>Enhance Beauty with Professional Care</p>
    </div>

</div>  

        <div class="col-md-6 p-5">

            <h2 class="text-center mb-4">💇 Add Service</h2>


<form action="/service" method="POST">

    <label>Service Name</label><br>
    <select name ="service" class="form-select" required>
        <option>Hair Cutting</option>
        <option> Hair Styling</option>
        <option> Facials & Clean-ups</option>
        <option> Threading</option>
        <option> Waxing</option>
        <option> Bleach</option>
        <option> Manicure & Pedicure</option>
        <option> Body polishing &Scrub</option>
        <option> Bridal & Party Makeup</option>
        <option> Nail Extension</option>
        <option> Hair Coloring</option>
        <option> Hair Treatments</option>

    </select> <br><br>

    <label>Price</label><br>
    <input type="number" name="price" class="form-control" required><br><br>

    <label>Duration</label><br>
    <input type="text" name="duration" class="form-control "placeholder="30 Minutes" required><br><br>

<br><br>
<button type="submit" class="btn btn-service w-100">
                Save Service
            </button>
</form>
        </div>

    </div>
</div>
{% endblock %}