{% extends "base.html" %}

{% block content %}


<div class="container mt-5">

    <div class="service-card p-5">

        <h2 class="text-center mb-4">
            💼 Add Staff
        </h2>

        <form action="/staff" method="POST">

            <label>Staff Name</label>
            <input type="text" name="name" class="form-control" 
            placeholder="Enter Staff Name" required>


            <label class="mt-3">Specialization</label>
            <select name="specialization" class="form-select" required>
                <option value="">Select Specialization</option>
                <option>Hair Stylist</option>
                <option>Makeup Artist</option>
                <option>Threading</option>
                <option>Nail Artist</option>
                <option>Skin Specialist</option>
                <option>Hair Treatments</option>
                <option>Body Polishing & Scrub</option>
                <option>Hair Cutting</option>
                <option>Bleach</option>
            </select>


            <label class="mt-3">Phone Number</label>
            <input type="text" name="phone" class="form-control"
            placeholder="Enter Phone Number">


            <label class="mt-3">Experience</label>
            <input type="text" name="experience" class="form-control"
            placeholder="Staff experience">

             <br><br>
             <label>Available</label>
               <select name="available" required>
              <option value="">Select Status</option>
               <option value="Available">Available</option>
               <option value="Busy">Busy</option>
               <option value="On Leave">On Leave</option>
             </select>

             <br><br>
            <button type="submit" class="btn btn-service w-100 mt-4">
                Save Staff
            </button>

        </form>

    </div>

</div>

{% endblock %}